:root {
  --accent-tint-100: #e8f6f8;
  --accent-tint-300: #bae3ea;
  --accent-tint-500: #8cd0dc;
  --accent-tint-700: #5ebdcd;
  --accent-tint-800: #47b3c6;
  --accent-tint-900: #30aabf;
  --accent: #19a0b8;
  --accent-shade-300: #127182;
  --accent-shade-500: #0d505c;
  --accent-shade-700: #073037;
  --accent-shade-800: #052025;
  --accent-shade-900: #021012;

  --primary-tint-100: #ececec;
  --primary-tint-300: #c5c5c5;
  --primary-tint-500: #9f9f9f;
  --primary-tint-700: #787878;
  --primary-tint-800: #656565;
  --primary-tint-900: #515151;
  --primary: #3e3e3e;
  --primary-shade-300: #2b2b2b;
  --primary-shade-500: #1f1f1f;
  --primary-shade-700: #131313;
  --primary-shade-800: #0c0c0c;
  --primary-shade-900: #060606;

  --secondary: #ececec;
  --secondary-shade-100: #c0c0c0;
}
