.container {
  height: calc(100vh - 3rem);
  background-image: #454545;
  background-image: radial-gradient(at 86% 83%, hsla(189, 5%, 33%, 1) 0, transparent 42%), radial-gradient(at 35% 46%, hsla(0, 0%, 40%, 1) 0, transparent 53%), radial-gradient(at 78% 39%, hsla(0, 0%, 32%, 1) 0, transparent 48%), radial-gradient(at 0% 100%, hsla(0, 0%, 25%, 1) 0, transparent 45%), radial-gradient(at 25% 92%, hsla(190, 40%, 36%, 1) 0, transparent 49%), radial-gradient(at 62% 79%, hsla(190, 55%, 38%, 1) 0, transparent 41%), radial-gradient(at 15% 17%, hsla(190, 76%, 30%, 1) 0, transparent 56%), radial-gradient(at 89% 20%, hsla(189, 53%, 59%, 1) 0, transparent 47%);
}

.footer {
  height: 3rem;
  background-color: var(--primary-shade-300);
}
