nav {
  // Dimenions
  height: 3rem;
  width: 100%;

  // Dimenions and positioning
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  // Box-model
  padding-inline: 2rem;

  // Abstracts
  background-color: #454545;

  // Font
  text-transform: uppercase;

  .brand {
    // Display and positioning
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger-menu {
      // Display
      display: none;
      cursor: pointer;

      // Abstracts
      color: var(--secondary);
      border-radius: 0.25rem;
      background-color: var(--accent-shade-300);

      // Font
      font-size: 1.5rem;

      // Box-model
      padding: 0.25rem;
    }

    .logo {
      // Abstracts
      color: var(--accent);

      // Font
      font-size: 1.5rem;
      font-family: "Orbitron", sans-serif;
    }
  }

  .navbar-collapse {
    // Display and positioning
    display: flex;
    align-items: center;

    &.active {
      // Display
      display: flex;
    }

    .links {
      // Display and positioning
      display: flex;

      li {
        // Box-model
        margin-inline: 0.25rem;
        list-style: none;
        .nav-link {
          // Font
          text-decoration: none;
          letter-spacing: 0.125px;

          // Abstracts
          color: var(--secondary);

          &.active {
            // Abstracts
            color: var(--accent);
          }
        }
      }
    }

    .search {
      // Dimenions and positioning
      display: flex;
      align-items: center;
      position: relative;

      // Dimensions
      height: 1.8rem;
      width: auto;

      // Box-model
      margin-left: 1rem;

      // Abtracts
      background-color: var(--accent);
      border-radius: 2rem;

      input {
        // Dimensions
        height: 100%;
        width: 100%;

        // Abstracts
        border-radius: 2rem;
        border: none;

        // Display and pos
        position: relative;
        z-index: 1;

        // Font
        text-indent: 1rem;
      }
      #searchButton {
        // Display and pos
        position: relative;
        z-index: 0;
        cursor: pointer;

        // Font
        font-size: 1.5rem;

        // Box-model
        padding: 0.15rem 0.5rem 0.15rem 0.5rem;

        // Abstracts
        background-color: var(--accent);
        border-radius: 0 2rem 2rem 0;
        color: var(--primary-shade-500);
        border: none;
      }
    }
  }

  .line {
    // Dimensions
    height: 0.188rem;

    // Box-model
    position: absolute;
    top: 1.5em;
    margin: 10px 0 0 0;

    // Abstracts
    background: var(--accent);
    border-radius: 0.188rem;
  }
}

@media (max-width: 768px) {
  nav {
    // Display
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    // Dimenions
    min-height: 5rem;
    height: auto;
    width: 100%;

    // Box-model
    padding-block: 1rem;

    // Font
    font-size: 1.25rem;

    .brand {
      .hamburger-menu {
        // Display
        display: block;
        font-size: 2rem;
      }
    }

    .navbar-collapse {
      // Display
      display: none;

      &.active {
        // Display
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        // Box-model
        padding: 1rem;

        .links {
          // Display and positioning
          flex-direction: column;
          justify-content: flex-start;
          gap: 0.25rem;
        }

        .search {
          // Box-model
          margin-top: 1rem;
          margin-left: 0;
        }
      }
    }

    .line {
      // Display
      display: none;
    }
  }
}
